<div class="header-button">
  <form action='/logout' method='post'>
    <div><input class='header-button' type='submit' value='Log Out'/></div>
    <input type='hidden' name='_method' value='delete'/>
  </form>
</div>