<h1>Welcome estudiantes!</h1>

<%= erb :_errors, :locals => { :object => @user, :login_error => @message } if @user || @message %>

<div class='form login-form'>
  <form action='/login' method='post'>
    <div class='field'><input type='text' name='email' placeholder="email"/></div>
    <div class='field'><input type='password' name='password' placeholder="password"/></div>
    <div><input class='button home-button' type='submit' value='Log In!'/></div>
  </form>
</div>

<div class="button signup-dropdown">Sign up now!</div>

<div class='form signup-form'>
  <form action='/users' method='post'>
    <div class='field'>
      <input type='text' placeholder='First name' name='first_name'/>
    </div>
    <div class='field'>
      <input type='text' placeholder='Last name' name='last_name'/>
    </div>
    <div class='field'>
      <input type='text' placeholder='Email' name='email'/>
    </div>
    <div class='field'>
      <input type='password' placeholder='Password' name='password'/>
    </div>
    <div><input class='button home-button' type='submit' value='Sign Up!'/></div>
  </form>
</div>