<div class="container">
  <h1 class="question"><%= @card.question %></h1>
  <p class="session-message"><%= session_message unless session_message.nil? %></p>
  <div class='card-form'> 
    <form class="guess-form" action="/rounds/<%= @round.id %>/guesses" method="post">
      <div class='field'>
        <input class="field answer-field" type="text" placeholder="Your answer here" name= "attempt"/>
      </div>
        <input type="hidden" class="card-id" name="card_id" value="<%= @card.id %>"/>
      <div class='button next-card-button'>
        <input class="button inline-button" type="submit" value="Submit"/>
      </div>
    </form>
  </div>
</div>