

<div class="container">
  <h1> Question number <%= @card.id %> </h1>
  <p>What is the capital of <%= @card.question %>?</p>
   <form action="/rounds/<%= @round.id %>/guesses" method="post">
    <input type="text" placeholder="Your answer here" name= "attempt"/>
    <input type="hidden" name="card_id" value="<%= @card.id %>"/>
  
    <input type="submit" value="Play"/>
  </form>
  <a href="/">&larr; Return to home</a>
</div>
