


<div class="container">
  <h1> These are your Round <%= @round.id %> stats</h1>
  <p>You have guessed <%= @round.played_count %> cards correctly!</p>
  <p>You still have <%= @round.unplayed_count %> cards left</p>
  
  <form name="round_id" action="/rounds/<%= @round.id %>/play_card" method="get">
  <input type="submit" value="Play"/>
  </form>
</div>
