<div class="container">
  <h1 class="question-number"> Question number <%= @round.played_count + 1 %> </h1>
  <p class="question"><%= @card.question %></p>
   <form class="guess-form" action="/rounds/<%= @round.id %>/guesses" method="post">
    <input type="text" placeholder="Your answer here" name= "attempt"/>
    <input type="hidden" name="card_id" value="<%= @card.id %>"/>
    <input type="submit" value="Play"/>
  </form>
  <a href="/">&larr; Return to home</a>
</div>
